<form class="flex flex-col items-center gap-y-5 mx-auto w-min border-base-100 border rounded p-8">
    <div class="my-5">
      <img src="../../../assets/images/film-folio-logo.png" alt="logo" class="h-14">
    </div>

    <input type="email" placeholder="Email" class="default-input">
    <input type="password" placeholder="Senha" class="default-input">
    <button type="submit" class="btn btn-accent w-min px-8">Entrar</button>
    <button type="button" class="btn btn-ghost text-accent">Cadastre-se</button>
</form>
